@model IEnumerable<League.Data.Entities.Club>

@{
    ViewData["Title"] = "Index";
}

<h1>Clubs</h1>

<p>
    <a asp-action="Create">Create New Club</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageFullPath))
                    {
                        <img src="@Url.Content(item.ImageFullPath)" alt="Emblem" style="width: 50px; height: 75px; max-width: 100%; height: auto ">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadium)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
