@model IEnumerable<League.Models.GameViewModel>

@{
    var groupedGames = Model.GroupBy(g => g.GameDate.Date).OrderBy(g => g.Key);
}

<div class="custom-header-crud">
    <h1>Games</h1>
</div>
<br />
<hr />


@foreach (var group in groupedGames)
{
    <h2>@group.Key.ToString("dddd, dd MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture)</h2>

    <div class="game-index-game-list">
        @foreach (var item in group)
        {
            <div class="game-index-game-item">
                <div class="game-index-club-info">
                    <img src="@item.VisitedClubEmblem" alt="Visited Club Emblem" class="game-index-club-emblem" />
                    <span class="game-index-club-name">@item.VisitedClubName</span>
                </div>

                <div class="game-index-game-result">
                    <span class="game-index-score">@item.VisitedGoals - @item.VisitorGoals</span>
                </div>

                <div class="game-index-club-info">
                    <img src="@item.VisitorClubEmblem" alt="Visitor Club Emblem" class="game-index-club-emblem" />
                    <span class="game-index-club-name">@item.VisitorClubName</span>
                </div>

                <div class="game-index-game-details">
                    <span class="game-index-status">@item.Status</span>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-arrow-right details-arrow"></i></a>
                </div>
            </div>
            <br />
            <br />
        }
    </div>
}
