@model League.Data.Entities.Game

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitedClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitedClub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorClub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitedGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitedGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorGoals)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
