@model League.Data.Entities.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Game Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitedClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitedClub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorClub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorClub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitedGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitedGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorGoals)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
