@model League.Data.Entities.Player

<div class="custom-header-crud">
    <h1>Details</h1>
</div>

<hr/>
<br />

<div class="row">
    <div class="col-md-8">
        <dl class="row" style="font-size: 1.5rem">
            <dt class="col-sm-3" style="margin-bottom:15px">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Position)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content(Model.ImageFullPath)" alt="Picture" class="cruds-images-DD">
    </div>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="button-24" role="button">Delete</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="button-Edit">Edit</a> |
    @if (User.IsInRole("ClubRepresentant"))
    {
        <a asp-action="Manage" class="button-Back">Back to List</a>
    }
    else
    {
        <a asp-action="Index" class="button-Back">Back to List</a>
    }
</div>
